<% layout("./layouts/boilerplate") %>
<div id="filters">
    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Mountains</p>
    </div>
    <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing pools</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>camping</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
    </div> 
    <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
    </div>
</div>

<div class="container-fluid">
    <div id="homepage" class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
        <% for(let listing of listings){ %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="/listing/<%= listing._id %>">
                    <div class="card cards" style="width: 100%;">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="image">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %> , <%= listing.country %></b><br>
                                &#x20B9; <%= listing.price %>/night
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</div>
